.topPage {
  background: linear-gradient(
      0deg,
      #5145b5 0%,
      #292357 0.01%,
      rgba(81, 69, 181, 0.16) 79.02%
    ),
    url("/images/background-photo.jpg");
  max-width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
