.navbar {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 460px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__menu--links {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 15.6px;
  letter-spacing: 0.02em;
  line-height: 120%;
  font-family: "Roboto+Condensed", sans-serif;
  margin-right: 2rem;
}

.navbar__menu--links:last-child {
  margin-right: 0px;
}

.navbar__logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 31px;
  font-weight: bold;
  margin-right: 2rem;
}

.navbar__loginAndRegister {
  color: #ffffff;
  font-size: 13px;
}

@media screen and (max-width: 460px) {
  .navbar__loginAndRegister {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.navbar__loginAndRegister--links {
  color: #ffffff;
  text-decoration: none;
}

.navbar__loginAndRegister--links:last-child {
  border: 2px solid #fc6868;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  margin-left: 2rem;
}

.navbar__loginAndRegister--links:last-child:hover {
  background-color: #fc6868;
}

.topPage {
  background: -webkit-gradient(linear, left bottom, left top, from(#5145b5), color-stop(0.01%, #292357), color-stop(79.02%, rgba(81, 69, 181, 0.16))), url("/images/background-photo.jpg");
  background: linear-gradient(0deg, #5145b5 0%, #292357 0.01%, rgba(81, 69, 181, 0.16) 79.02%), url("/images/background-photo.jpg");
  max-width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.topContent {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 81vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 460px) {
  .topContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.topContent__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 460px) {
  .topContent__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.topContent__left .topText__main {
  font-family: "Roboro", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  color: #ffffff;
}

@media screen and (max-width: 460px) {
  .topContent__left .topText__main {
    font-size: 2rem;
    line-height: initial;
  }
}

.topContent__left .topText__small {
  font-family: "Roboro", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #ffffff;
  margin-top: 1rem;
  letter-spacing: 1%;
}

@media screen and (max-width: 460px) {
  .topContent__left .topText__small {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.topContent__left .topForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
  max-height: 10vh;
  width: 90%;
  background-color: #ffffff;
  border-radius: 0px 22px 22px 22px;
  padding-left: 2rem;
}

@media screen and (max-width: 460px) {
  .topContent__left .topForm {
    display: contents;
  }
}

.topContent__left .topForm__input {
  -ms-flex-preferred-size: 66.5%;
      flex-basis: 66.5%;
  border-top-left-radius: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topContent__left .topForm__input ::-webkit-input-placeholder {
  color: #292357;
}

.topContent__left .topForm__input :-ms-input-placeholder {
  color: #292357;
}

.topContent__left .topForm__input ::-ms-input-placeholder {
  color: #292357;
}

.topContent__left .topForm__input ::placeholder {
  color: #292357;
}

@media screen and (max-width: 460px) {
  .topContent__left .topForm__input {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
  }
}

.topContent__left .topForm__input--label {
  font-size: 0.75rem;
  color: #938bd5;
  font-weight: 400;
  line-height: 14.4px;
  margin-left: 3rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.04em;
}

.topContent__left .topForm__input--imgInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topContent__left .topForm__input--imgInput .inputField {
  font-size: 1.25rem;
  margin-left: 1.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  border: none;
  margin-top: 0.3rem;
  color: #292357;
  outline: none;
}

@media screen and (max-width: 460px) {
  .topContent__left .topForm__input--imgInput .inputField {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.3rem;
  }
}

.topContent__left .topForm__input--imgInput .inputImg {
  width: 24px;
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topContent__left .topForm__dropdown {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10vh;
  background-color: #d9d6f1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px 0px 0px 9px;
}

@media screen and (max-width: 460px) {
  .topContent__left .topForm__dropdown {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
    border-radius: 22px;
    margin-bottom: 0.3rem;
  }
}

.topContent__left .topForm__dropdown--label {
  font-size: 0.75rem;
  color: #938bd5;
  letter-spacing: 0.04em;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.topContent__left .topForm__dropdown--select {
  border: none;
  color: #292357;
  background-color: #d9d6f1;
  font-size: 1.125rem;
  line-height: 1.125rem;
  cursor: pointer;
}

.topContent__left .topForm__form-button {
  -ms-flex-preferred-size: 17.5%;
      flex-basis: 17.5%;
  background-color: #fc6868;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
  border-radius: 0px 22px 22px 0px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .topContent__left .topForm__form-button {
    -ms-flex-preferred-size: 13.5%;
        flex-basis: 13.5%;
    padding: 1.5rem;
    border-radius: 22px;
  }
}

.topContent__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 17%;
  width: 15%;
  height: 55vh;
}

@media screen and (max-width: 460px) {
  .topContent__right {
    height: initial;
    margin-top: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.topContent__right--groupIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 460px) {
  .topContent__right--groupIcons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 3rem;
  }
}

.topContent__right--mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 460px) {
  .topContent__right--mouse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.topContent__right img {
  width: 30px;
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 460px) {
  .topContent__right img {
    margin-right: 2rem;
  }
}

.cardPage {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardPage__smallText {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.09em;
  color: #938bd5;
  padding-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.cardPage__title {
  font-size: 2.25rem;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #1a1636;
}

.cardPage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  background-color: #e5e5e5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 460px) {
  .cardPage__container {
    place-content: center;
  }
}

.cardPage__container .card {
  width: 264px;
  height: 385px;
  background: #f9f9ff;
  -webkit-box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
          box-shadow: 0px 24.3973px 42.6953px rgba(232, 229, 255, 0.6);
  border-radius: 7.84199px;
  margin-bottom: 2rem;
}

.cardPage__container .card__img {
  width: 264px;
  height: 207px;
  background: linear-gradient(242deg, rgba(41, 35, 87, 0.5) 1.64%, rgba(57, 49, 124, 0.5) 92.8%), url("/images/card-size.jpg");
  border-radius: 7.84199px 7.84199px 0px 0px;
}

.cardPage__container .card__content {
  padding: 1rem;
}

.cardPage__container .card__content--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.1rem;
}

.cardPage__container .card__content--location---p {
  font-size: 13.94px;
  font-weight: 400;
  line-height: 13.94px;
  color: #9892c0;
  padding-left: 0.5rem;
}

.cardPage__container .card__content--h1Heart {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5rem;
}

.cardPage__container .card__content--h1Heart---p {
  font-size: 19.17px;
  font-weight: 400;
  line-height: 19.17px;
}

.cardPage__container .card__content--h1Heart---img {
  width: 26.14px;
  height: 23.53px;
}

.cardPage__container .card__content--tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

.cardPage__container .card__content--tags---tag1 {
  border-radius: 30.5px;
  background: #b1bdfa;
  color: #2243f1;
  padding: 0.3rem 1.2rem;
  margin-right: 0.8rem;
}

.cardPage__container .card__content--tags---tag2 {
  border-radius: 30.5px;
  background: #b1e4fa;
  color: #0d94cf;
  padding: 0.3rem 0.7rem;
  margin-right: 0.8rem;
}

.cardPage__container .card__content--tags---tag3 {
  border-radius: 30.5px;
  background: #b2fae5;
  color: #099068;
  padding: 0.3rem 0.8rem;
}

.cardPage__container .card__content--button---link {
  font-size: 15.68px;
  line-height: 15.68px;
  font-weight: 700;
  outline: none;
  border: none;
  color: #39317c;
  cursor: pointer;
  background: none;
  padding-right: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cardPage__container .card__content--button---link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=styles.css.map */